@media screen and (min-width: 300px) and (max-width:600px){
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
html,body{
        background-color: #f5f5f5;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
        padding: 0 0.5rem;
    }

.home-page p{
    width: 107px;
    height: 40px;
    font-family: 'baumans';
    font-weight: 400;
    font-size: 68px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50vh 0;
    color: #0d438b;
    text-align: center;
    margin-left: 40%;
}
.onboarding{
    max-height: 100vh;
    width: 93vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.onboarding p{
    width: 50%;
    height: 40px;
    top: 399px;
    margin-left: -64px;
    font-weight: 400;
    font-size: 48px;
    line-height: 40px;
    text-align: center;
    font-family: 'Baumans';
    color:#0d438b;
}
.onboarding img{
    max-width: 80%;
    min-height: 50%;
    margin-top: 20px;
}
p.p2{
    width: 65%;
    height: 80px;
    margin-top: 50px;
    margin-left: 30px;
    font-family: 'sora';
    font-weight: 600;
    font-size: 26px;
    line-height: 40px;
    text-align: center;
    color: #2c2c38;
}
.btn{
    width: 77%;
    height: 48px;
    margin-top: 100px;
    margin-left: 24px;
    border-radius: 8px;
    padding: 24px;
    background-color: #0d438b;
    text-decoration: none;
    font-family: 'sora';
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.onboarding .span{
    width: 80%;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}
.onboarding .span p{
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    color: #87878c;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.onboarding .span .sign-in-btn{
    width: 51px;
    height: 24px;
    font-family: 'sora';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0d438b;
    cursor: pointer;
    
}
.onboarding .span a{
    text-decoration: none;
}
/*create account-1 styles*/
.header{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.back-arrow{
    width: 16px;
    height: 15.56px;
    margin-top: 4.22px;
    margin-left: 4px;
    position: relative;
}
.vector1{
    width: 15px;
    position: absolute;
    margin-left: 0%;
    margin-right: 16.67%;
    margin-top: 0%;
    margin-bottom: 17.59%;
}
.header .title{
    width: 100%;
    height: 24px;
    margin-left: 0%;
    text-align: center;
    
}
.title p{
    font-family: 'sora';
    font-style: normal;
    font-weight: bold;
    font-size: 180%;
    font-feature-settings: 'salt' on;
    color:#2c2c38;
}
.account-details{
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding-bottom: 20px;
}

.account-details-content .title{
    font-family: 'sora';
    font-weight: bold;
    line-height: 24px;
    color: #2c2c38;
    text-align: none;
}
.instruction{
    width: 90%;
    margin-top: 20px;
}
.instruction p{
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    font-size: 80%;
    line-height: 16px;
    color: #898f9e;
}
form{
    width: 96%;
    height: auto;
    margin-left: 1%;
    margin-top: 35px;
}
label{
    width: 64px;
    height: 16px;
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #52596e;
    margin-left: 10px;
}
.label3{
    margin-left: 40%;
}
input{
    width: 100%;
    padding: 15px 20px;
    background: #f7f7f7;
    outline: none;
    border: 1px solid #e6e8ec;
    border-radius: 12px;
    margin-bottom: 20px;
}
.gm{
    display: flex;
}
.input2{
    width: 100%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.input3{
    width: 100%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*contact form styles*/
.form-input{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-input input{
    padding: 15px 60px;
}
input.home{
    height: 96px;
    padding: 20px 12px;
}
.icon{
    position: absolute;
    left: 20px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*verification styles*/
.verification{
    margin-top: 60px;
}
.otp-number{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    grid-gap: 20px;
}
.otp{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 22px 22px;
    font-family: 'sora';
    font-weight: 400;
    font-size: 150%;
    line-height: 32px;
    border-radius: 12px;
    background: #f7f7f7;
    border: 1px solid #e6e8ec;
    text-align: center;
}
.account-details .span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;
    font-family: 'sora';
    font-size: 12px;
}
.account-details .span p{
    color: #898f9e;
}
.account-details .span a{
    text-decoration: none;
    margin-left: 5px;
    color: #2c2c38;
}
.cp-btn{
    width: 77%;
    height: 48px;
    margin-top: 300px;
    margin-left: 24px;
    border-radius: 8px;
    padding: 24px;
    background-color: #0d438b;
    text-decoration: none;
    font-family: 'sora';
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
/*sign in styles*/
.logo-cont{
    width: 36.43px;
    height: 34px;
    top: 100px;
    left: -3.5%;
    position: relative;
    margin-bottom: 100px;
}
.logo{
    width: 36.43px;
    height: 34px;
    top: 0px;
    left: 0px;
    position: absolute;
}
.forgot-password{
    width: 97%;
    margin-top: 20px;
    margin-left: 0%;
    text-align: right;
}
.forgot-password a{
    text-decoration: none;
    font-family: 'sora';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #0d438b
}
.span-bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
}
.span-bottom p{
    width: 172px;
    height: 24px;
    font-family: 'sora';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #898f9e;
    text-align: right;
}
.span-bottom .sign-in-btn{
    width: 46px;
    height: 24px;
    margin-left: 4px;
}
.span-bottom .sign-in-btn a{
    text-decoration: none;
    font-family: 'sora';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}
/*welcome back styles*/
.welcome-back .header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 0;
}
.welcome-back .logo{
    margin-left: 20px;
    margin-top: -30px;
}
.welcome-back .person{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: 0px;
}
.welcome-back .person img{
    width: 78px;
    height: 78px;
    border-radius: 50%;
}
.welcome-back .form2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.welcome-back .form2 input{
    margin-left: 3%;
    padding: 30px 25px;
}
.welcome-back .text{
    width: 100%;
    height: 32px;
    margin-top: 20px;
}
.welcome-back .text h3{
    font-family: 'sora';
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    color: #2c2c38;
    margin-top: 30px;
}
.welcome-back .text p{
    width: 100%;
    height: 16px;
    font-family: 'sora';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: #52596e;
}
.welcome-back a{
    text-decoration: none;
    width: 100%;
    font-size: 14px;
    font-family: 'sora';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.welcome-back .span{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}
.welcome-back .span p{
    text-align: right;
    font-family: 'sora';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #898f9e
}
.welcome-back .span a{
    margin-top: 0px;
    font-family: 'sora';
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;

}
/*home 1 styles*/
.container{
    border: 1px solid black;
    width: 100%;
    padding: 0 1.5%;;
}
.hello-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 18px;
    margin-top: 50px;
}
.hello-container p{
    width: 80%;
    height: 18px;
    top: 65px;
    font-family: 'inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    color: #000000;
}
.notification-icon{
    width: 48px;
    height:48px;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification-icon img{
    height: 35px;
    width: 25px;
}
.wallet-balance-cont{
    width: 100%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #0d438b;
}
.wallet-balance-cont .title{
    width: 50%;
}
.wallet-balance-cont .title p{
    width: 90px;
    height: 16px;
    top: 111px;
    left: 28px;
    font-family: 'sora';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
    
}
.balance-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.balance{
    width: 50;
    height: 25px;
    left: 28px;
    margin-top: 20px;
    color: #fff;
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}
.fund-account-btn{
    background-color: #fff;
    width: 96px;
    width: 35%;
    border-radius: 10px;
    padding: 10px 20px;
}
.fund-account-btn a{
    text-decoration: none;
    font-family: 'sora';
    font-style: normal;
    font-size: 12px;
    line-height: 16px;
    color: #000;
}
.account-number{
    margin-top: 20px;
    width: 80%;
}
.account-number p{
    font-family: 'sora';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    color: #fff;
}
.quick-access{
    width: 100%;
    height: 400px;
    margin-top: 25px;

}
.quick-access-title{
    width: 50%;
    font-family: 'sora';
}
 .icons{
    position: absolute;
    width: 89.5%;
    display: grid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-left: 0px;
}
 .icon2{
    position: relative;  
    width: 48px;
    height: 48px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.5px solid rgba(0, 0, 0, 0.15);
    border-radius: 5px; 
    background-color: rgba(0, 0, 0, 0.15);
}
 .icon-img{
    width: 22.52px;
    height: 19px;
    top: 127px;
}
 .icon-img-2{
    width: 18px;
}
}